.calendar header {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 8px;
    color: #4b3a3a;
}

.calendar header button,
.calendar header select {
    margin: 0 4px;
}

.calendar table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
    color: #4b3a3a;
}

.calendar th {
    vertical-align: middle;
    text-align: center;
    height: 36px;
}

.calendar .day {
    padding: 4px 8px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid transparent;
}

.calendar .day:hover {
    background-color: #fcd593;
    cursor: pointer;
}

.calendar .day.selected {
    background-color: #A66900;
    color: white;
}

.calendar .day.today {
    border: 2px solid #A66900;
}

.calendar .day.today:hover {
    background-color: #A66900;
}

.calendar .day.today.selected {
    border: 2px solid #A66900;
}