.button2 {
  /* margin-right: 5px; */
  /* margin-left: 5px; */
  background: transparent;
  color: #ffa100;
  border-color: #ffa100;
  font-family: system-ui;
}
.button2:hover,
.button2:active {
  background: #ffb840;
  border-color: #ffb840;
  color: #fefdef;
}
.button2:focus,
.button2:visited {
  background: #a66900;
  border-color: #a66900;
  color: #fefdef;
  outline: none;
  box-shadow: none !important;
  -webkit-appearance: none;
}
.counter {
  margin-right: 10px;
  margin-left: 10px;
}
.button-warning {
  background: transparent;
  color: #93001b;
  border-color: #93001b;
  font-family: system-ui;
}
.button-warning:hover,
.button-warning:active {
  background: #c20628;
  border-color: #c20628;
  color: #fefdef;
}
.button-warning:focus,
.button-warning:visited {
  background: #93001b;
  border-color: #93001b;
  color: #fefdef;
  outline: none;
  box-shadow: none !important;
  -webkit-appearance: none;
}
.button-green {
  background: transparent;
  color: #bcff86;
  border-color: #bcff86;
  font-family: system-ui;
}
.button-green:hover,
.button-green:active {
  background: #3ec04d;
  border-color: #3ec04d;
  color: #fefdef;
}
.button-green:focus,
.button-green:visited {
  background: #bcff86;
  border-color: #bcff86;
  color: #fefdef;
  outline: none;
  box-shadow: none !important;
  -webkit-appearance: none;
}
