.dialogWindow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  z-index: 10;
}

.dialogWindow.active {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: fit-content;
}
