.heading2{
    font-family: system-ui;
    font-size: 28pt;
    text-align: center;
    margin-bottom: 20px;
    color: #151E20;
}
.heading2_1{
    font-family: system-ui;
    font-size: 28pt;
    margin-bottom: 20px;
    color: #151E20;
}