.heading3{
    font-family: system-ui;
    font-size: 14pt;
}
.heading3_1{
    font-family: system-ui;
    font-size: 14pt;
    color:#151E20;
    text-decoration: underline;
    text-decoration-color: #151E20;
}
.heading3_1:hover{
    text-decoration: none;
    color:#FFA100;
}
.heading3_2{
    font-family: system-ui;
    font-size: 14pt;
    color:#151E20;
    margin-top: 10px;
    margin-bottom: 20px;
}
.heading3_2:hover{
    text-decoration: none;
    color:#FFA100;
}