.footer {
  display: block;
  max-width: 100%;
  background-color: #fefdef;
}
.container_footer {
  padding: 0 3rem;
  margin: 1rem 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
